extends layout 

block link
  a(class='btn btn-default', href='/') Return to Home
block content
  block head
    -var menu = {'Submit Script' : '/script', 'Leaderboard' : '/leaderboard', 'Profile' : '/profile'};

    div.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header
          a.navbar-brand(href='../') AIRacing
        div#navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            each val, key in menu
              li
                if selected === key
                  a.selected(href=val, title=key)= key
                else
                  a(href=val, title=key)= key
          ul.nav.navbar-nav.navbar-right
            li.active
            - if (req.isAuthenticated()) {
              a(href="/logout") Logout
            - } else {
              a(href="/login") Login
            - }

