extends basic_navigator

block content
  div
    h1= title
    h5 DA SIKIST RACING GAEM EVER
  
  div
    a(class='button', href='/login') Login
    P or
    a(class='button', href='/signup') Register
