include ./basic_navigator.jade

block content
  .splash
    .container
      .row
        .divider
        .col-lg-6
            img(src='GResearchLogo.png', alt='Logo')
            h1.
              AI Racing Market
            small.
              Ra

        .divider
        .col-lg-6
          p.
             GIF Placeholder
