extends layout

block content
    h1= title
    p wagwan, welcome to #{title}

    block link
      -var selected = 'index';

    -var menu = {'submit time' : '/time', 'leaderboard' : '/leaderboard'};

    body
      nav
        ul
          each val, key in menu
            li
              if selected === key
                a.selected(href=val, title=key)= key
              else
                a(href=val, title=key)= key
