extends basic_navigator

block content
  div
    h1= title
    br
    
  div
    .btn-group
      a.btn.btn-default(class='button', href='/login') Login
      a.btn.btn-default(class='button', href='/signup') Register
