extends basic_navigator

block content
  div
    h1= title
    h5 DA SIKIST RACING GAEM EVER
    br

  div
    p
      a(class='button', href='/login') Login
      |   or   
      a(class='button', href='/review') Register
