extends layout

block content
    h1= title
    p wagwan, welcome to #{title}

    block link
      -var selected = 'index';
    
    a(href="#", class="btn btn-default") Default    

    -var menu = {'submit script' : '/script', 'leaderboard' : '/leaderboard'};

    body
      nav
        ul
          each val, key in menu
            li
              if selected === key
                a.selected(href=val, title=key)= key
              else
                a(href=val, title=key)= key
