include ./basic_navigator.jade

block content
  .splash
    .row
      .col-lg-1
      .col-lg-1
        .div(align='center')
          br 
          br
          img(src='GResearchLogo.png', alt='Logo')
          h1.
            AI Racing Market 
      .col-lg-1
      .col-lg-4
        .div(align='center')
          h3.
            Simple scripting!
          textarea#demo(name='demo', rows="12", data-editor="javascript")
      .col-lg-1
      .col-lg-1
           img(class='alignright',src='racing.gif', alt='Logo')

  //.div(align='center')
    //.btn.btn-info#getstarted(href='/script') GET STARTED

  script(src="http://ajaxorg.github.io/ace-builds/src/ace.js")
  script(type='text/javascript').
    $(document).ready(function () {
    $('textarea[data-editor]').each(function () {
          var textarea = $(this);
          var mode = textarea.data('editor');

          var editDiv = $('<div>', {
            position:'absolute',
            width:textarea.parent().width(),
            height:textarea.height(),
          }).insertBefore(textarea);

          textarea.css('display', 'none');

          var editor = ace.edit(editDiv[0]);
          editor.setReadOnly(true);
          editor.getSession().setUseWorker(false);
          editor.renderer.setShowGutter(false);
          editor.getSession().setValue(
          "// The vehicle can be controlled by calling functions\n" +
          "// on the api object e.g. api.SetThrottle()\n" +
          "\n" +
          "// Global state can be initialised here\n" +
          "\n" +
          "// This is called repeatedly as the game is running\n" +
          "var PhysicsUpdate = function(api) { ... };"
           );
          editor.getSession().setMode("ace/mode/" + mode);
          editor.setFontSize("16px");
          editor.setTheme("ace/theme/solarized_light");
        });
      });
