include ./basic_navigator.jade

block content
  h1.
    Leaderboard
  div
    table.table.table-striped.table-hover
      thead
        tr
          th Script
          th Rating
        tbody
        - if (leaderboard.length) {
        each entry, i in leaderboard
          - if (i == 0) { 
          tr.success
          - } else if (i == 1) {
          tr.info
          - } else if (i == 2) { 
          tr.warning
          - } else {
          tr
          - }
            td= entry.name
            td= Math.round(entry.rating)
        - }
