extends index

block content
  h1.
    Leaderboard
  div
    table.table.table-striped.table-hover
      thead
        tr
          th Name
          th Script Name
          th Time
        tbody
        - if (leaderboard.length) {
        each entry, i in leaderboard
          tr
            td= entry.levelName
            td= entry.scriptName
            td= entry.time
        - }
