extends basic_navigator

block content
  h1.
    Leaderboard
  div
    table
      tr
        th
        th
        th
      - if (leaderboard.length) {
      each entry, i in leaderboard
        tr
          td= entry.username
          td= entry.scriptName
          td= entry.scriptTime
      - }
