include ./basic_navigator.jade

block content
    script.
        var positions = ["First", "Second", "Third", "Fourth"];
        var scripts = !{JSON.stringify(scripts)};

    - if (scripts && scripts.length > 0) {
    table.table.table-striped.table-hover
      thead
        tr
          th Position
          th Script
        tbody
        each entry, i in scripts
          tr
            td= positions[i]
            td= entry.name
    - }