include ./basic_navigator.jade

block content
  h1.
    Create your Racing Script

  .col-lg-6
    div.well.bs-component
      form#newScriptForm.form-horizontal(method='post')
        fieldset
           .form-group
             label.col-lg-2.control-label(for='inputScriptName') Script Name
             .col-lg-8
               input#inputScriptName.form-control(placeholder='Enter a Script Name', type='text', name="scriptname")
            .form-group
              label.col-lg-2.control-label(for='inputScript') Script
              .col-lg-8
                textarea#inputScript(name='inputScript', data-editor="javascript",  rows="10") Enter Script 
            .form-group
              label.col-lg-2.control-label(for='inputLevelName') Level
              .col-lg-8
                select#select.form-control(placeholder='Select Level', name="levelname")
                  option OvalTrack
                  option NewRacetrack
            .form-group
              label.col-lg-2.control-label(for='inputCarlName') Car Model
              .col-lg-8
                select#select.form-control(placeholder='Select Car Model', name="carname")
                  option Catamount
                  option Monster Truck
            .form-group
              .col-lg-6.col-lg-offset-2
                .btn-group
                  button.btn.btn-default(type='reset') Reset
                  button.btn.btn-primary(type='submit') Submit

    script(src="http://ajaxorg.github.io/ace-builds/src/ace.js")
    script(type='text/javascript').
      $(document).ready(function () {
        $('textarea[data-editor]').each(function () {

          var textarea = $(this);
          var mode = textarea.data('editor');

          var editDiv = $('<div>', {
            position:'absolute',
            width:textarea.parent().width(),
            height:textarea.height(),
            'class':textarea.attr('class')
          }).insertBefore(textarea);

          textarea.css('display', 'none');

          var editor = ace.edit(editDiv[0]);
          editor.getSession().setValue(textarea.val());
          editor.getSession().setMode("ace/mode/" + mode);
          editor.renderer.setShowGutter(true);
          editor.setFontSize("16px");
          editor.setTheme("ace/theme/dawn");
          editor.setEnableBasicAutocompletion(true);

          textarea.closest('form').submit(function () {
            textarea.val(editor.getSession().getValue());
          });
        });
      });
