include ./basic_navigator.jade

block content
  h1.
    Create your Racing Script

  .col-lg-6
    div.well.bs-component
      form#newScriptForm.form-horizontal(method='post')
        fieldset
           .form-group
             label.col-lg-2.control-label(for='inputScriptName') Script Name
             .col-lg-8
               input#inputScriptName.form-control(placeholder='Enter a Script Name', type='text', name="scriptname")
            .form-group
              label.col-lg-2.control-label(for='inputScript') Script
              .col-lg-8
                textarea#inputScript(name='inputScript')
            .form-group
              label.col-lg-2.control-label(for='inputLevelName') Level
              .col-lg-8
                select#select.form-control(placeholder='Select Level', name="levelname")
                  option OvalTrack
                  option NewRacetrack
            .form-group
              label.col-lg-2.control-label(for='inputCarlName') Car Model
              .col-lg-8
                select#select.form-control(placeholder='Select Car Model', name="carname")
                  option Catamount
                  option Monster Truck
            .form-group
              .col-lg-6.col-lg-offset-2
                .btn-group
                  button.btn.btn-default(type='reset') Reset
                  button.btn.btn-primary(type='submit') Submit
