include ./basic_navigator.jade
block content
    script.
        var handleChange = function() {
            var select = document.getElementById("selectCount");
            var size = parseInt(select.options[select.selectedIndex].text, 10);

            if(size == 3) {
                var parent = document.getElementById("tournamentFieldSet");
                var child = document.getElementById("carA")
                parent.removeChild(child);
            }
        }

    h1.
      Create your Tournament
    .col-lg-6
        div.well.bs-component
            form#newTournamentForm.form-horizontal(method='post')
                fieldset#tournamentFieldSet
                    .form-group
                        label.col-lg-2.control-label(for='inputTournamentName') Name
                        .col-lg-8
                            input#inputTournamentName.form-control(placeholder='Enter a Tournament Name', type='text', name="tournamentname")

                    .form-group
                        label.col-lg-2.control-label(for='inputScriptCount') Size
                        .col-lg-6
                            select#selectCount.form-control(placeholder='How many scripts?', name="scriptcount", onchange='handleChange()')
                                option 2
                                option 3
                                option 4

                    .form-group#carA
                        label.col-lg-2.control-label(for='inputScriptNameA') Car A
                        .col-lg-6
                            select#selectA.form-control(placeholder='Select Script', name="scriptnameA")
                                - if (scripts.length) {
                                each entry, i in scripts
                                    option= entry.scriptName
                                - }

                    .form-group#carB
                        label.col-lg-2.control-label(for='inputScriptNameB') Car B
                        .col-lg-6
                            select#selectB.form-control(placeholder='Select Script', name="scriptnameB")
                                - if (scripts.length) {
                                each entry, i in scripts
                                    option= entry.scriptName
                                - }

                    .form-group
                        label.col-lg-2.control-label(for='inputLevelName') Level
                        .col-lg-6
                            select#select.form-control(placeholder='Select Level', name="levelname")
                                option Wish-There-Was-A-Cow

                    .form-group
                        .col-lg-6.col-lg-offset-2
                            .btn-group
                                button.btn.btn-default(type='reset') Reset
                                button.btn.btn-primary(type='submit') Submit
